<div class="container-fluid row home-header">
	<div class="jumbotron">
		<h1>Hello, gophers!</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, sequi facere odit incidunt quam aut assumenda hic laudantium tempora dolorem? Delectus nihil cupiditate ea distinctio molestiae enim alias. Mollitia, corrupti.
			<br>
			<a href="/surveys" class="btn btn-primary btn-lg" role="button">Learn More</a>
		</p>
	</div>
</div>

<div class="container-fluid">
	<h1>We made it home!</h1>
</div>